[submodule "external/CLWrapper"]
	path = external/CLWrapper
	url = https://github.com/ottolink-dev/CLWrapper.git
[submodule "external/PointSampler"]
	path = external/PointSampler
	url = https://github.com/otto-link/PointSampler.git
